/* Add styling for your page here */

.App {
  background:linear-gradient(rgb(78, 6, 120), pink);
  display: flex;
}
h3 {
  display: block;
  font-size: 2.00em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color:white;
}
.ticket-Item {
  border: 5px inset #ddd;
  border-radius: 10px;
  padding: 0;
  width: 100px;
  height: 100px;
  align-self: center;
}

.ticket-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-left: auto;
  padding: 16px;
}
.bakery-items .window-body > * {
  margin: 0;
}
.window {
  background-color: lightblue;
  width: 320;
  display: "inline-block";
}
.window-body {
  display: flex;
  flex-direction: column;
  height: 310px;
  justify-content: space-between;
  gap: 1em
}

.aggregator-window {
  background-color: lightpink;
  width: 300;
  display: "inline-block"
}

.aggregator-window-body {
  display:list-item ;   /*flex;*/
  flex-direction: column;
  height: 480px;
  justify-content: space-between;
  gap: 1em
}
.side-bar1 {
  height: 300;
}

.Side-bar {
  display: flex;
  flex-direction: column;

  margin: 15px 35px 0 50px;
  padding: 10px 20px 0 20px;

  border: #d2d2d2 solid 2px;
  border-radius: 10px;

  box-shadow: 0 1px 1px #d2d2d2;

  width:450px;

}
.Side-bar > SortGroup,
.Side-bar > div {
  margin-bottom: 15px;
}

.Aggregator {
  display: "flex";
  flex-direction: "column";
  margin: "1.5rem";
  position: 'fixed';

}
.title-bar-text{
  color:Blue;
  font-family:verdan;
  font-weight: 400;
  font-size: large;
}

.ticket-Item-description{
  color:black;
  font-family:verdan;
  font-style: italic;
  margin-left: 5px;
}

.ticket-Item-rating{
  color:darkviolet;
  font-family:verdan;
  margin-left: 5px;
}
.ticket-Item-type{
  color:darkslateblue;
  font-family:verdan;
  margin-left: 5px;
}
